PORT=8000
MONGODB_URI=mongodb+srv_yourUrl

# JWT Tokens
ACCESS_TOKEN_SECRET=your_secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_secret
REFRESH_TOKEN_EXPIRY=7d

NODE_ENV=development_or_production